name: Update weather

on:
  schedule:
    - cron: "*/30 7-23 * * *"
  workflow_dispatch:

jobs:
  weather-day:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: 20
      - run: npm install

      - name: Generate weather
        run: node weather.js

      - name: Commit changes
        uses: EndBug/add-and-commit@v4
        with:
          author_name: Tino Schroeter
          author_email: tino.schroeter@gmail.com
          message: ":robot: Add weather icon :cloud:"
          add: "weather.svg"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
